*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ınc-dec{
  border: 1px solid grey;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 1.5rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.468);
}
/* .ınc-dec button{
  width:30px;
  height: 30px;
  margin: .3rem;
  border-radius: .3rem;
  border: 0;
  background-color: gray;
  color: white;
  font-size: 1.5rem;
  padding-top:0rem;
  vertical-align: middle;
} */
.ınc-dec p{
margin-bottom: 0;
width: fit-content;

}